.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  .content {
    height: 83vh;
    .logo {
      display: flex;
      padding: 0.5rem 0;
      text-align: center;
      height: 60px;
      align-items: center;
      box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.5);
      font-size: 20px;
      color: #3f51b5;
      .mat-icon {
        height: 60px !important;
        width: 60px !important;
        font-size: 60px !important;
      }
    }

    .song-content {
      height: calc(83vh - 75px);
      .list {
        overflow: hidden;
        .list-header {
          display: flex;
          justify-content: space-between;
          .icon-button {
            margin-right: 20px;
            .icon {
              color: #888;
            }
          }
        }

        .add-playlist-container {
          width: 100%;
          // padding: 0 10px;
          display: flex;
          justify-content: space-around;
          align-items: baseline;
          border: 1px solid #eee;
        }
        .item {
          cursor: pointer;
          box-sizing: border-box;
        }
        .song-info {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-left: 20px;
          height: inherit;
        }
        .list-item {
          flex: 1;
          display: flex;
          flex-direction: row;
          cursor: pointer;
          align-items: center;
          .music-note-icon {
            align-items: center;
            justify-content: center;
            .mat-icon {
              font-size: 32px;
              padding: 10px;
              width: 40px;
            }
          }
          .song-details {
            display: flex;
            flex-direction: column;
            align-content: center;
            h4,
            h5 {
              margin: 0;
            }
          }
        }
        .active {
          background-color: rgb(60, 79, 182, 0.1);
        }
        &:hover {
          overflow-y: scroll;
        }
        border-left: 1px solid darkgrey;
      }
    }
  }

  .media-footer {
    justify-self: flex-end;
    .time-slider {
      width: 100% !important;
      margin-left: 20px;
      margin-right: 20px;
      padding: 0;
    }
    .media-action-bar {
      width: 100%;
      padding: 0;
      justify-content: center;
      .mat-icon {
        height: 48px !important;
        width: 48px !important;
        font-size: 48px !important;
      }
      ::ng-deep.mat-progress-spinner circle,
      .mat-spinner circle {
        stroke: #ffffff !important;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  outline: none;
  border: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
