<div class="container">
  <div class="content">
    <div class="header">
      <div class="logo">
        <mat-icon>music_note</mat-icon>
        <div>Audio Player</div>
      </div>
      <div class="nav">
        <button
          routerLink="login"
          class="btn"
          mat-raised-button
          color="primary"
          *ngIf="!isLoggedIn"
        >
          LOGIN
        </button>
        <button
          (click)="logout()"
          class="btn"
          mat-raised-button
          color="primary"
          *ngIf="isLoggedIn"
        >
          LOGOUT
        </button>
      </div>
    </div>
    <div class="song-content" style="width: 100%; display: flex; flex: 1">
      <div class="list" style="width: 30%">
        <mat-list color="primary">
          <div class="list-header">
            <h3 mat-subheader>Playlists</h3>
            <button
              (click)="toggleAddPlayList()"
              mat-button
              class="icon-button"
            >
              <mat-icon class="icon">add</mat-icon>
            </button>
          </div>
          <div
            class="add-playlist-container"
            [ngStyle]="{ display: addNewPlaylistToggle ? 'flex' : 'none' }"
          >
            <mat-form-field appearance="outline">
              <mat-label>Playlist Name</mat-label>
              <input matInput #newPlaylistname />
            </mat-form-field>
            <button
              (click)="addNewPlaylist(newPlaylistname.value)"
              mat-raised-button
              color="primary"
            >
              ADD
            </button>
          </div>

          <mat-list-item
            class="item"
            *ngFor="let playlist of playlists; let j = index"
            [ngClass]="{ active: playlist._id === currentPlaylistId }"
            (click)="loadPlaylist(playlist._id)"
          >
            <mat-icon color="primary" mat-list-icon>playlist_play</mat-icon>
            <h4 mat-line>{{ playlist.name }}</h4>
            <!-- <h5 mat-line>by {{ file.artist }}</h5> -->

            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="list" style="width: 70%">
        <mat-list color="primary">
          <h3 mat-subheader>Songs</h3>
          <mat-list-item
            *ngFor="let file of files; let i = index"
            [ngClass]="{ active: currentFile.index === i }"
          >
            <div class="list-item" (click)="openFile(file, i)">
              <div class="music-note-icon">
                <mat-icon color="primary" mat-list-icon>music_note</mat-icon>
              </div>
              <div class="song-details">
                <h4 mat-line>{{ file.name }}</h4>
                <!-- <h5 mat-line>by {{ file.artist }}</h5> -->
                <h5 mat-line>by {{ file.singers | join }}</h5>
              </div>
              <div class="song-info">
                <mat-icon
                  color="primary"
                  *ngIf="currentFile.index === i && !state?.error"
                  >volume_up</mat-icon
                >
                <h6 *ngIf="currentFile.index === i && state?.error">ERROR</h6>
              </div>
            </div>
            <div class="add-to-playlist-container">
              <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon>add</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item disabled>Select a Playlist</button>
                <button
                  *ngFor="let playlist of playlists; let i = index"
                  (click)="addToPlaylist(file, i)"
                  mat-menu-item
                >
                  {{ playlist.name }}
                </button>
              </mat-menu>
            </div>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
  <div class="media-footer">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        {{ state?.readableCurrentTime }}
        <mat-slider
          class="time-slider"
          min="0"
          [max]="state?.duration"
          step="1"
          [value]="state?.currentTime"
          (input)="onSliderChangeEnd($event)"
          [disabled]="state?.error || currentFile.index === undefined"
        ></mat-slider>
        {{ state?.readableDuration }}
      </mat-toolbar-row>
      <mat-toolbar-row class="media-action-bar">
        <button mat-button [disabled]="isFirstPlaying()" (click)="previous()">
          <mat-icon mat-list-icon>skip_previous</mat-icon>
        </button>
        <button
          mat-button
          (click)="play()"
          [disabled]="state?.error"
          *ngIf="!state?.loading && !state?.playing"
        >
          <mat-icon mat-list-icon>play_circle_filled</mat-icon>
        </button>
        <button
          mat-button
          (click)="pause()"
          *ngIf="!state?.loading && state?.playing"
        >
          <mat-icon mat-list-icon>pause</mat-icon>
        </button>
        <button mat-button *ngIf="state?.loading">
          <mat-progress-spinner
            mode="indeterminate"
            diameter="35"
            color="light"
            class="spinner"
          ></mat-progress-spinner>
        </button>
        <button mat-button [disabled]="isLastPlaying()" (click)="next()">
          <mat-icon mat-list-icon>skip_next</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>
